{{#*inline "content"}}
<!-- breadcrumb -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/recipes">recipes</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{recipe.name}}
    </li>
  </ol>
</nav>

<h1><a href="/recipes/{{recipe.id}}">{{recipe.name}}</a></h1>

<p>Recipe of <a href="/users/{{user.id}}">{{user.firstname}} {{user.lastname}}</a></p>


{{#if this.editable}}
    <a href="/recipes/{{recipe.id}}/edit" class="btn btn-secondary">Edit</a>
    <!-- delete button -->
    <form action="/recipes/{{recipe.id}}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" class="btn btn-danger" value="Delete">
    </form>
{{/if}}

{{/inline}}
{{~> layouts/main~}}