{{#*inline "content"}}
<!-- breadcrumb -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/users">users</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/users/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
    </li>
  </ol>
</nav>

<h1><a href="/users/{{user.id}}">{{user.firstname}} {{user.lastname}}</a></h1>


<table class="table table-striped">
    <tr>
        <th>email</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>firstname</th>
        <td>{{user.firstname}}</td>
    </tr>
    <tr>
        <th>lastname</th>
        <td>{{user.lastname}}</td>
    </tr>
</table>

<a href="/users/{{user.id}}/edit" class="btn btn-secondary">Edit</a>
<!-- delete button -->
<form action="/users/{{user.id}}" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" class="btn btn-danger" value="Delete">
</form>

<h2>His recipes</h2>

<ul>
    {{#each recipes}}
        <li>
            <a href="/recipes/{{id}}">{{name}}</a>
        </li>
    {{/each}}
</ul>

{{/inline}}
{{~> layouts/main~}}