{{#*inline "content"}}
<!-- breadcrumb -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/users">users</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/users/{{id}}">{{firstname}} {{lastname}}</a>
    </li>
  </ol>
</nav>

<h1><a href="/users/{{id}}">{{firstname}} {{lastname}}</a></h1>

<a href="/users/{{id}}/edit" class="btn btn-secondary">Edit</a>
<!-- delete button -->
<form action="/users/{{id}}" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" class="btn btn-danger" value="Delete">
</form>
{{/inline}}
{{~> layouts/main~}}